<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>music box</title>
  <script src="/mediaelement/jquery.js"></script>
  <script src="/mediaelement/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/mediaelement/mediaelementplayer.min.css" />
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
    li {
      font-size: 2em;
      list-style: none;
    }
  </style>
</head>
<body>
